
<%=link_to 'Crear "To Do"', todos_new_path %>

<ul class="well"> <%= @todo.each do |f| %>
  <li> <%= puts f %><%= link_to 'Edit', edit_path%></li>
  <% end %>
</ul>

<%= @todo.each do |t| %>
<h1><%= link_to t.description, todos%> </h1>
<p><%= t.completed %></p>
<p><%= link_to "delete", todo, method: :delete %></p>
<% end %>
