<form class="" action="index.html" method="post">
<%= form_with(model: @todos, local: true) do |f| %>
<%= f.label "To Do"%>
<%= f.text_field :description %>
<%= f.label "completed"%>
<%= f.check_box :completed %>
<%= f.submit "Create"%>
<% end %>
</form>
